<div class="parent">
	<div class="container">
	  <div class="screen">
		<div class="screen__content">
		  <h1 class="login__title">Admin</h1> <!-- Added heading here -->
		  <form class="login">
			<div class="login__field">
			  <i class="login__icon fas fa-user"></i>
			  <input type="text" name="emailORUserName" [(ngModel)]="loginOBJ.emailORUserName" class="login__input" placeholder="Email">
			</div>
			<div class="login__field">
			  <i class="login__icon fas fa-lock"></i>
			  <input type="password" name="password" [(ngModel)]="loginOBJ.password" class="login__input" placeholder="Password">
			</div>

			<button type="button" class="button login__submit" (click)="onLogin()">
			  <span class="button__text">Log In</span>
			  <i class="button__icon fas fa-chevron-right"></i>
			</button>
		  </form>
		  <p class="error">
		 {{error}}
		</p> 
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape1"></span>
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape3"></span>
			<span class="screen__background__shape screen__background__shape4"></span>
		  </div>
	  </div>
	</div>
</div>
<img src="../../../assets/icon.jpg"  class="img">
<!-- now svg -->