
.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
    white-space: nowrap;
    overflow: hidden;
    flex-wrap: wrap;
}
.button-group {
    display: flex;
    gap: 1rem;
    flex: 1; 
}
.button {
    padding: 0.75rem 1.25rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s;
    white-space: nowrap;
}
.button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}
.search-bar {
    flex-grow: 1;
    max-width: 50%;
    margin-left: 20px;
    margin-right: 30px;
}
.search-bar input[type="text"] {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-bar input[type="text"]:focus {
    border-color: #007bff;
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.2);
    outline: none;
}
.marginbottom{
    margin-bottom: 60px;

}
.product-list{
    padding-bottom:40px;
}
.product-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.product {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(42, 42, 42);
    transition: box-shadow 0.3s ease, transform 0.2s;

}
.product-details h3 {
    margin: 0 0 10px;
}

.product-details p {
    margin: 5px 0;
}
.product-price-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%;
}

.product-price {
    font-size: 24px;
    text-align: center;
}
.actions {
    display: flex;
    gap: 10px;
}

.actions .edit, .actions .delete {
    font-size: 20px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.actions .edit:hover {
    color: #007bff;
}

.actions .delete:hover {
    color: #ff0000;
}

@media (max-width: 900px) {
    .bar {
        flex-direction: column;
        align-items: center;
    }

    .button-group {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%; 
        margin-bottom: 10px;
    }

    .search-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        margin-left: 0;
        margin-right: 0; 
    }
}
.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.747); 
    z-index: 1999;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  


}
.custom-modal-container {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 19999;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    transition: all 0.3s ease;

}
.custom-modal-content {
    background-color:var(--overlay-deep);
    height: 100%;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15); 
    width: 100%;
    box-sizing: border-box;
    max-height: 80vh;
    overflow-y: auto;
    animation: fadeInScale 0.4s ease-in-out; 
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.custom-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(42, 42, 42);
    border: none;
    font-size: 24px;
    cursor: pointer;
}

input[type="text"], input[type="number"], input[type="file"], select, textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
input[type="text"]:focus, input[type="number"]:focus, select:focus, textarea:focus {
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.2);
    outline: none;
}
button {
    margin-right: 10px;
    padding: 10px 18px;
    border-radius: 6px;
    background-color: var(--less-black);
    color: white;
    border: none;
    cursor: pointer;

    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 16px;
}

button:active {
    transform: scale(0.98);
}
label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 6px;
    display: block;
}
h3 {
    font-size: 24px;
    margin-bottom: 20px;
}
.image-preview {
    display: inline-block;
    margin: 5px;
    position: relative;
}
.image-preview img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.remove-image {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 0, 0, 0.8);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 2px 5px;
}
.remove-image:hover {
    background: rgba(255, 0, 0, 1);
}
.product-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ddd;
}
@media (max-width: 600px) {
    .custom-modal-container {
        max-width: 100%;
        padding: 10px;
    }
    .container{
        width: 90%;
        margin-inline: auto;
    }
}
.modal-overlay {
    background-color: var(--overlay-deep);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.822); 
    z-index: 1999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.modal-container {
    background-color: var(--overlay-deep);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    animation: fadeInScale 0.3s ease-in-out; 
    position: relative;
    text-align: center;
}
@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
}
p {
    font-size: 18px;
    margin-bottom: 20px;
}
.modal-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.confirm-button, .cancel-button {
    padding: 10px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s;
}
.confirm-button {
    background-color: #ff0000; 
}
.confirm-button:hover {
    background-color: #cc0000; 
}
.cancel-button {
    background-color: #000000;
    color: var(--white);
}
.cancel-button:hover {
    background-color: #999; 
}
button:active {
    transform: scale(0.98); 
}
@media (max-width: 600px) {
    .modal-container {
        max-width: 90%;
        padding: 15px;
    }
}
.dropdown-toggle {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.dropdown-content.show {
    display: block;
    opacity: 1;
}
.dropdown-content .dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}
.dropdown-content .dropdown-item:last-child {
    border-bottom: none;
}
.dropdown-content .dropdown-item:hover {
    background-color: #ddd;
}

.custom-button {
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #56e649;

  }
  
  .custom-button:hover {
    opacity: 0.8;    
  }
  
  .disabled-button {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    left: 50%;
    z-index: 9999;
    width: 30px;
    height: 30px;
}
.loading img{
    width: 100%;
    height: 100%;
    animation: spin 1s linear infinite;
}
