<h1 *ngIf="!isOrderDetailsVisible">Orders</h1>
<div class="container">
<table *ngIf="!isOrderDetailsVisible">
  <thead>
    <tr>
      <th>Shipping Address</th>
      <th>Order Date</th>
      <th>Total Amount</th>
      <th>Transaction Status</th>
      <th>Shipping Status</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.shippingAddress.city }}</td>
      <td>{{ order.createdAt | date }}</td>
      <td>{{ order.totalPrice  }} SAR</td>
      <td >
        <div [ngClass]="order.transaction?.transactionStatus === 0 ? 'case-success' : 'case-danger'" class="cc center">
          {{ order.transaction == null 
            ? 'Not Payed' 
            : dictionaries.TransactionStatus[order.transaction.transactionStatus]?.en }}
        </div>
      </td> 
      <td>{{ dictionaries.ShippingStatus[order.shippingStatus].en }}</td>
      <td >
        <div [ngClass]="getStatusClass(order.status)" class="cc center">
          {{ dictionaries.OrderStatus[order.status].en }}
        </div>
      </td>
      <td class="dropdownTd">
        <div class="dropdown">
          <button (click)="toggleDropdown(order.orderId)" class="dropdown-button">⋮</button>
          <div *ngIf="activeDropdown === order.orderId" class="dropdown-menu">
            <button (click)="displayOrderDetails(order)">Details</button>
            <button *ngIf="order.status === 0 && order.shippingStatus === 0 || order.status === 0 && order.shippingStatus === 4" (click)="assinToDriver(order.orderId)">Assign Order</button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="isOrderDetailsVisible">
  <app-order-ditails *ngIf="selectedOrder" [order]="selectedOrder" (closeOrderDetails)="closeOrderDetails()"></app-order-ditails>
</div>
<app-assginto-driver 
  *ngIf="assgintoDriver" 
  [orderId]="orderId" 
  (closeForm)="toggleAssgintoDriverProduct()" 
  (orderAssigned)="handleDriverAssigned($event)">
</app-assginto-driver>

</div>