:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
    --nicebodyBackgournd:#94aeda; 
    --niceBlackColor:#141418;
    --niceP1:#ff7eee;
    --niceP2:#df49a6;
    --bg-forms: #23232e;
    --bg-pp: #6649b8;
    --side-bar-color: #23232e;
    --gl:rgb(63, 63, 63);
    --g:rgb(37, 37, 37);
    --gd:rgb(15, 15, 15);
    --background-darkest: #1D1D1D;  
    --container-dark: #212121;      
    --less-black: #2F2F2F;        
    --overlay-deep: rgb(27, 27, 27);
    --good-gray: #777777;
    --white: #fff;
    --orange:#fd9a06;
}
  body {
    font-family: "Roboto Slab" , serif;
    color: rgb(255, 255, 255);
    background-color:var(--container-dark); 
    margin: 0;
    padding: 0;
  }
  body::-webkit-scrollbar {
    width: 0.25rem;
  }
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  body::-webkit-scrollbar-thumb {
    background: #C9007E;
  }
  main {
    margin-left: 5rem;
    padding: 1rem;
  }

  
  .fa-primary {
    color: #ff7eee;
  }
  
  .fa-secondary {
    color: #df49a6;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  height: 1000px;
}